$fondoHeader: linear-gradient(to bottom, rgb(175, 165, 15), rgb(215, 215, 20), rgba(37, 35, 35, 0.852));

$fondoMain: linear-gradient(to right, #121312, rgb(35, 31, 31), rgb(43, 38, 38));

$fondoCards: linear-gradient(to top, rgba(247, 235, 6, 0.87), #ad9553, black)